<div class="listings">
  <div class="left">
    <div data-ng-repeat="listing in displayedListings">

      <md-content class="md-padding"
                  layout-xs="column"
                  layout="row">
        <md-card class="listings-card">
          <a ui-sref="showListing({ id: listing.id })">
            <div class="listings-card-img-container">
              <img ng-src="{{listing.header_photo.url}}"
                   class="listings-card-img" />
            </div>
            <img ng-if="!listing.available"
                 ng-src="{{leased}}"
                 class="listings-leased" />
          </a>

          <md-card-content>
            <span class="md-headline">
                {{listing.header_title}}
              </span>
          </md-card-content>
        </md-card>
      </md-content>

    </div>
  </div>

  <div class="right">
    <ui-gmap-google-map center='map.center'
                        zoom='map.zoom'>
    </ui-gmap-google-map>
    <br>

    <fieldset class="standard">
      <legend>Filters</legend>
      <br>
      <div layout-wrap
           layout-gt-sm="row">
        Price
        <rzslider class="custom-slider"
                  rz-slider-model="filters.price.min"
                  rz-slider-high="filters.price.max"
                  rz-slider-options="filters.price.options"></rzslider>
      </div>

      <br>
      <div layout-wrap
           layout-gt-sm="row">
        <div flex-gt-sm="50">
          <md-checkbox ng-model="filters.available">
            Available
          </md-checkbox>
        </div>
      </div>
    </fieldset>
  </div>